@import"./reset.css";
@import"./fonts.css";

:root {
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --light: rgb(255, 238, 206);
}
/* UNIQUE */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify__between {
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
/* UNIQUE */

/* HEADER SECTION */
.header {
  position: absolute;
  width: 100%;
  height: 70px;
  
  & .container {
      height: 100%;
  }
  &__title {
      font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
      color: var(--color-light);
      
  }
  &__link {
      color: var(--color-light);
      font-size: 20px;
      transition: all .6s ease;
      &:hover {
          color: rgb(180, 0, 51);
          text-decoration: underline;
          font-size: 21px;
      }
      &:not(:last-child) {
          margin-right: 40px;
      }
  }
  &__menu {
      cursor: pointer;
      background-color: var(--color-light);
      position: relative;
      height: 2px;
      width: 30px;
      &::before {
          background-color: var(--color-light);
          position: absolute;
          content: "";
          height: 2px;
          width: 30px;
          bottom: -7px;
          cursor: pointer;
      }
      &::after {
          background-color: var(--color-light);
          position: absolute;
          content: "";
          height: 2px;
          width: 30px;
          top: -7px;
          cursor: pointer;
      }
  }
}
/* HEADER SECTION */

/* MENU SECTION */
.menu {
  position: absolute;
  height: calc(100vh - 70px);
  background:url("../images/header-menu.jpg") no-repeat center/cover;
  width: 300px;
  transition: all .6s ease;
  left: -280px;
  border-right: 5px solid var(-- --color-lightlight);
  &:hover {
      left: 0px;
      z-index: 1;
  }
  &__title {
      color: var(--color-light);
      font-size: 70px;
      max-width: 150px;
      text-align: center;
      margin: 150px 0 100px 0;
  }
  &__desc {
      font-size: 50px;
      color: var(--color-light);
  }
}
/* MENU SECTION */


// HERO SECTION
.hero{
  background: url(../images/hero.jpg) no-repeat center/cover;
  height: 100vh;
  &.hero_dark{
    background: url(../images/111.png)no-repeat center/cover;
  }
  
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 600px;
    text-align: center;
    font-size: 60px;
    color:var(--light);
  }
  &__arrow {
    display: flex;
    justify-content: center;
    
  }
  &__arrow svg{
    transform: rotate(90deg);
  }
}
// HERO SECTION

.cards{
  
  &__content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      padding: 80px 0;

  }
  &__card1{
      background: rgb(17, 17, 68);
      height: 400px;
      border-radius: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: aliceblue;
      flex-direction: column;
      &:hover{
          transition: all .6s ease;
          background: rgb(2,0,36);
          background: linear-gradient(20deg, rgba(2,0,36,1) 0%, rgba(121,9,49,1) 68%, rgba(178,46,73,1) 82%, rgba(152,61,86,1) 94%, rgba(223,19,71,1) 98%, rgba(255,0,117,1) 100%);
          .cards__desc{
              opacity: 1;
              transition: .3s;
              transform: translateY(0);
          }
      }
  }
  &__card2{
      background: rgb(17, 17, 68);
      height: 400px;
      border-radius: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: aliceblue;
      &:hover{
          transition: all .6s ease;
          background: rgb(2,0,36);
          background: linear-gradient(20deg, rgba(2,0,36,1) 0%, rgba(121,9,49,1) 68%, rgba(178,46,73,1) 82%, rgba(152,61,86,1) 94%, rgba(223,19,71,1) 98%, rgba(255,0,117,1) 100%);
          .cards__desc{
              opacity: 1;
              transition: .3s;
              transform: translateY(0);
          }
      }
  }
  &__card3{
    cursor: pointer;
      background: rgb(17, 17, 68);
      height: 400px;
      border-radius: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: aliceblue;
      flex-direction: column;
      &:hover{
          transition: all .6s ease;
          background: rgb(2,0,36);
          background: linear-gradient(20deg, rgba(2,0,36,1) 0%, rgba(121,9,49,1) 68%, rgba(178,46,73,1) 82%, rgba(152,61,86,1) 94%, rgba(223,19,71,1) 98%, rgba(255,0,117,1) 100%);
          .cards__desc{
              opacity: 1;
              transition: all .6s ease;
              transform: translateY(0);
          }
      }
  }

  &__title{
      font-size: 49px;
      
  }
  &__desc{
      font-size: 39px;
      margin-top: 20px;
      opacity: 0;
      transform: translateY(50px);
  }
}

.sliders {
  // padding: 50px 0;
  
  height: 100vh;
  background: url("../images/bg-slider.jpg") no-repeat center/cover;
  &__title {
      font-size: 40px;
      text-align: center;
      color: var(--light);
  }
  &__svg img{
      position: absolute;
      margin-top: 1290px;
      top: 20px;
      height: 50px;
      width: 50px;
  }
  & .container {
      max-width: 1000px;
  }
}

#lern {
  transition: all .6s ease;
}

.slider {
  margin-top: 1380px;
  border-radius: 10px;
  width: 70%;
  height: 500px;
  overflow: hidden;
  border: 10px solid white;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: #ddd;
  opacity: .5;
  border-radius: 10px;
  transition: all .4s ease;
}

.bar:hover {
  opacity: .8;
  transform: scale(1.1);
}

.slide img {
  /* object-fit: cover;
  object-position: center; */
  width: 100%;
  height: 100%;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  transition: all .6s ease;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

#r4:checked ~ .s1 {
  margin-left: -75%;
}





/* FOOTER SECTION */
.footer {
  background: -webkit-linear-gradient(1deg, #000000,#000000,#d02525);      
  background: linear-gradient(1deg, #000000,#000000,#d02525);                                             
  padding: 100px 0;
  height: 300px;
  &__img {
      height: 100px;
      width: 100px;
  }
  &__link {
      font-size: 25px;
      color: var(--light);
      transition: all .6s ease;
      &:not(:last-child) {
          margin-right: 30px;
      }
      &:hover {
          color: #d02525;
          text-decoration: underline;
      }
  }
  &__desc {
      color: var(--light);
      :hover {
          color: #d02525;
          transition: all .6s ease;
          text-decoration: underline;
      }
  }
}
/* FOOTER SECTION */

